#Print Formatting

In this lecture we will briefly cover the various ways to format your print statements. As you code more and more, you will probably want to have print statements that can take in a variable into a printed string statement.

The most basic example of a print statement is:

In [1]:
print 'This is a string'

This is a string

##Strings
You can use the %s to format strings into your print statements.

In [18]:
x= 'value'

In [41]:
x[1:4]

'alu'

In [19]:
print 'here it is: %s' %(x)

here it is: value

In [42]:
s = 'test string'
print 'Place another string with a mod and s: %s' %(s)

Place another string with a mod and s: test string

In [43]:
s = 'STRING'
print 'Place another string with a mod and s: %s' %(s)

Place another string with a mod and s: STRING

##Floating Point Numbers
Floating point numbers use the format %n1.n2f where the n1 is the total minimum number of digits the string should contain (these may be filled with whitespace if the entire number does not have this many digits. The n2 placeholder stands for how many numbers to show past the decimal point. Lets see some examples:

In [44]:
print 'Floating point numbers: %1.2f' %(13.144)

Floating point numbers: 13.14

In [45]:
print 'Floating point numbers: %1.0f' %(13.144)

Floating point numbers: 13

In [46]:
print 'Floating point numbers: %1.5f' %(13.144)

Floating point numbers: 13.14400

In [47]:
print 'Floating point numbers: %10.2f' %(13.144)

Floating point numbers:      13.14

In [55]:
print 'Floating point numbers: %1.2f' %(13.144)

Floating point numbers: 13.14

##Conversion Format methods.
It should be noted that two methods %s and %r actually convert any python object to a string using two separate methods: str() and repr(). We will learn more about these functions later on in the course, but you should note you can actually pass almost any Python object with these two methods and it will work:

In [56]:
print 'Here is a number: %s. Here is a string: %s' %(123.1,'hi')

Here is a number: 123.1. Here is a string: hi

In [57]:
print 'Here is a number: %r. Here is a string: %r' %(123.1,'hi')

Here is a number: 123.1. Here is a string: 'hi'

In [74]:
print '%s, %s, %s' %(12, 2, 2)

12, 2, 2

##Multiple Formatting
Pass a tuple to the modulo symbol to place multiple formats in your print statements:

In [75]:
print 'First: %s, Second: %1.2f, Third: %r' %('hi!',3.14,22)

First: hi!, Second: 3.14, Third: 22

#Using the string .format() method
The best way to format objects into your strings for print statements is using the format method. The syntax is:

    'String here {var1} then also {var2}'.format(var1='something1',var2='something2')
    
Lets see some examples:

In [63]:
print 'x={x} ,y={y}, z={z}'.format(x='1',y='2',z='3')

x=1 ,y=2, z=3

In [67]:
print 'This is a string with an {p}'.format(p='insert')

This is a string with an insert

In [68]:
# Multiple times:
print 'One: {p}, Two: {p}, Three: {p}'.format(p='Hi!')

One: Hi!, Two: Hi!, Three: Hi!

In [69]:
# Several Objects:
print 'Object 1: {a}, Object 2: {b}, Object 3: {c}'.format(a=1,b='two',c=12.3)

Object 1: 1, Object 2: two, Object 3: 12.3

In [81]:
print('this is: {x}'.format(x=11))

this is: 11

That is the basics of string formatting! Remember that Python 3 uses a print() function, not the print statement!

In [82]:
from datetime import datetime

In [84]:
'{:%Y-%m-%d %H:%M}'.format(datetime(2017, 7, 3, 4, 5))

'2017-07-03 04:05'

In [85]:
class Plant(object):
    type = 'tree'
    kinds = [{'name': 'oak'}, {'name': 'maple'}]

In [87]:
'{p.type}: {p.kinds[1][name]}'.format(p=Plant())

'tree: maple'

In [96]:
class People(object):
    name = 'people'
    sex = [{'name':'male'}, {'name':'female'}]

In [95]:
print( '{p.name} {p.sex[0][name]}'.format(p=People()) )

people male

In [97]:
def fun(x, *y, **z):
    print x, y, z

In [98]:
fun(1,2,3)

1 (2, 3) {}

In [99]:
fun(1, foo=43, bar='test')

1 () {'foo': 43, 'bar': 'test'}

In [105]:
fun(1, 24,z=2, c=4)

1 (24,) {'c': 4, 'z': 2}

In [106]:
def add(a, L=[]):
    L.append(a)
    print L

In [107]:
add(1)

[1]

In [108]:
add(2)

[1, 2]

In [109]:
add(3)

[1, 2, 3]

In [110]:
def func(x):
    def add(a,L=[]):
        L.append(a)
        print L
        
    add(x)

In [111]:
func(1)

[1]

In [112]:
func(2)

[2]

In [113]:
func(3)

[3]

In [114]:
names = [ 'peter', 'michael', 'bobby', 'marsha', 'jan', 'cindy' ]

In [116]:
names[:2]

['peter', 'michael']

In [117]:
names[2:4]

['bobby', 'marsha']

In [118]:
names[-1]

'cindy'

In [119]:
names[:-1]

['peter', 'michael', 'bobby', 'marsha', 'jan']

In [120]:
names[-1:]

['cindy']

In [121]:
names[:-2]

['peter', 'michael', 'bobby', 'marsha']

In [122]:
names[-2:]

['jan', 'cindy']

In [128]:
new = []
for name in names:
    new.append(name.upper())

In [129]:
new

['PETER', 'MICHAEL', 'BOBBY', 'MARSHA', 'JAN', 'CINDY']

In [134]:
new.append(for name in names)

SyntaxError: invalid syntax (<ipython-input-134-b2af2990faeb>, line 1)

In [133]:
new

['PETER', 'MICHAEL', 'BOBBY', 'MARSHA', 'JAN', 'CINDY', True]